<ion-card color="light">
  <ion-card-content>
    <ion-item color="light">
      <ion-label floating>Email</ion-label>
      <ion-input [(ngModel)]="account.email" type="email"></ion-input>
    </ion-item>
    <ion-item color="light">
      <ion-label floating>Password</ion-label>
      <ion-input [(ngModel)]="account.password" type="password"></ion-input>
    </ion-item>
  </ion-card-content>
  <ion-row class="login-form__">
    <div>
      <button ion-button color="custom" (click)="goRegisterPage()">Register</button>
      <button ion-button color="secondary" (click)="logar()">Login</button>
    </div>
  </ion-row>
</ion-card>
