<ion-card color="light">
  <ion-card-content>
    <ion-item color="light">
      <ion-label floating>Avatar</ion-label>
      <ion-input [(ngModel)]="account.avatar" type="file"></ion-input>
    </ion-item>
    <ion-item color="light">
      <ion-label floating>Name</ion-label>
      <ion-input [(ngModel)]="account.name" type="text"></ion-input>
    </ion-item>
    <ion-item color="light">
      <ion-label floating>City</ion-label>
      <ion-input [(ngModel)]="account.city" type="text"></ion-input>
    </ion-item>
    <ion-item color="light">
      <ion-label floating>Email</ion-label>
      <ion-input [(ngModel)]="account.email" type="email"></ion-input>
    </ion-item>
    <ion-item color="light">
      <ion-label floating>Password</ion-label>
      <ion-input [(ngModel)]="account.password" type="password"></ion-input>
    </ion-item>
  </ion-card-content>
  <ion-row>
    <div>
      <button ion-button color="custom" (click)="cancel()">Cancel</button>
      <button ion-button color="secondary" (click)="registerUser()">Register</button>
    </div>
  </ion-row>
</ion-card>
